@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1716;
  --foreground: #f0e6e2;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.league-btn {
  background: #1e232a;
  border: 1px solid #f5d185;
  color: #f5d185;
  padding: 4px 24px;
}

.league-btn:hover {
  border: 1px solid #fde395;
  background: #21272f;
  color: #fde395;
}

.league-btn:active {
  border: 1px solid #dbbd7e;
  color: #dbbd7e;
}

.league-input {
  @apply text-slate-200;
  background: #1e232a;
  border: 1px solid #f5d185;
  padding: 4px 8px;
}

.league-input:focus {
  border: 1px solid #ffe18a;
  background: #2d3640;
  outline: none;
}

.league-input-range {
  appearance: none;
  background: transparent;
  padding: 4px 0;
}

.league-input-range::-webkit-slider-runnable-track {
  background: #675424;
  height: 2px;
  margin: 15px 0;
  background-clip: content-box;
}

.league-input-range::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  top: -16px;
  height: 32px;
  width: 32px;
  background-image: url(/images/slider-btn.png);
  background-position: 0px 0px;
  background-size: 32px auto;
}


.league-input-range:hover::-webkit-slider-thumb {
  background-position: 0px -32px;
}

.league-input-range:active::-webkit-slider-thumb {
  background-position: 0px -64px;
}

.typography ol,.typography ul {
  list-style: auto;
  margin-left: 1.2em;
}

.league-table {
  @apply table-auto w-full 
}

.league-table th {
  @apply text-left py-4 px-2
}
.league-table td {
  @apply py-2 px-2
}


.league-table tbody tr {
  @apply hover:outline-[#785a28] hover:outline hover:outline-offset-[-2px]
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #9c8556; 
    border-radius: 6px; 
}

::-webkit-scrollbar-button {
    display: none; 
}

::-webkit-scrollbar-corner {
    background: transparent; 
}