@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1716;
  --foreground: #f0e6e2;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.league-btn {
  background: #1e232a;
  border: 1px solid #f5d185;
  color: #f5d185;
  padding: 4px 24px;
}

.league-btn:hover {
  border: 1px solid #ffe18a;
  color: #ffe18a;
}

